In [1]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [3]:
requests.get('https://www.ambitionbox.com/list-of-companies?page=1')

In [2]:
headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36',"Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7', 'sec-ch-ua': 'Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99', 'sec-ch-ua-mobile':'?0', 'sec-ch-ua-platform': 'Windows', 'sec-fetch-dest': 'document', 'sec-fetch-mode': 'navigate', 'sec-fetch-site': 'same-origin', 'sec-fetch-user': '?1', 'upgrade-insecure-requests': '1'}
webpage=requests.get('https://www.ambitionbox.com/list-of-companies?page=1', headers=headers).text

In [4]:
soup=BeautifulSoup(webpage, 'html.parser')

In [ ]:
print(soup.prettify())

In [7]:
soup.find_all('h1')

[<h1 class="companyListing__title">
 							Companies in India
 						</h1>]

In [9]:
soup.find_all('h1')[0].text.strip()

'Companies in India'

company name

In [21]:
len(soup.find_all('h2'))

23

In [10]:
for i in soup.find_all('h2'):
    print(i.text.strip())

TCS
Accenture
Wipro
Cognizant
Capgemini
HDFC Bank
Infosys
ICICI Bank
HCLTech
Tech Mahindra
Genpact
Teleperformance
Concentrix Corporation
Axis Bank
Amazon
Jio
iEnergizer
Reliance Retail
IBM
LTIMindtree
Companies by Industry
Companies by Locations
Companies by Type

ratings

In [22]:
len(soup.find_all('div', class_='rating_text'))

20

In [18]:
for i in soup.find_all('div', class_='rating_text'):
    print(i.text.strip())

3.7
3.8
3.7
3.7
3.7
3.9
3.6
4.0
3.5
3.5
3.8
3.9
3.8
3.8
4.1
4.0
4.6
3.9
4.0
3.8

In [23]:
soup.find_all('span', class_='companyCardWrapper__companyRatingCount')

[<span class="companyCardWrapper__companyRatingCount">
 											(91.3k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(57.5k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(53.9k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(51.1k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(42.5k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(40.3k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(40.1k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(38.7k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(36.8k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(35.7k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(32k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(30.2k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(26.8k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(25.9k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(25.5k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(23.5k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.8k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.7k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(22.3k)
 										</span>,
 <span class="companyCardWrapper__companyRatingCount">
 											(21.4k)
 										</span>]

In [25]:
company=soup.find_all('div', class_='companyCardWrapper')
len(company)

20

In [51]:
name=[]
rating=[]
reviews=[]
ctypes_location=[]
salaries=[]
interviews=[]
jobs=[]
benefits=[]



for i in company:
    name.append(i.find('h2').text.strip())

    rating.append(i.find('div', class_='rating_text').text.strip())

    ctypes_location.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())

    reviews.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[0].text.strip())

    salaries.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[1].text.strip())

    interviews.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[2].text.strip())

    jobs.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[3].text.strip())

    benefits.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[4].text.strip())

In [56]:
name

['TCS',
 'Accenture',
 'Wipro',
 'Cognizant',
 'Capgemini',
 'HDFC Bank',
 'Infosys',
 'ICICI Bank',
 'HCLTech',
 'Tech Mahindra',
 'Genpact',
 'Teleperformance',
 'Concentrix Corporation',
 'Axis Bank',
 'Amazon',
 'Jio',
 'iEnergizer',
 'Reliance Retail',
 'IBM',
 'LTIMindtree']

In [61]:
data={'Name':name, 'Rating':rating, 'Reviews':reviews, 'Type':ctypes_location, 'Salaries':salaries, 'Interviews':interviews, 'Jobs':jobs, 'Benefits':benefits}
df=pd.DataFrame(data)

In [62]:
df.head()

,Name,Rating,Reviews,Type,Salaries,Interviews,Jobs,Benefits
0,TCS,3.7,91.3k,IT Services & Consulting | Bangalore / Bengalu...,8.8L,10.5k,136,11.9k
1,Accenture,3.8,57.5k,IT Services & Consulting | Bangalore / Bengalu...,5.9L,8.2k,17.5k,7.3k
2,Wipro,3.7,53.9k,IT Services & Consulting | Bangalore / Bengalu...,4.5L,5.6k,2.5k,5.3k
3,Cognizant,3.7,51.1k,IT Services & Consulting | Chennai +197 other ...,5.7L,5.6k,323,6.1k
4,Capgemini,3.7,42.5k,IT Services & Consulting | Bangalore / Bengalu...,4.3L,4.8k,2k,4.2k

doing this for all the pages

In [63]:
dframe=pd.DataFrame()
for j in range(1,11):
    headers={'User-Agent':'Mozilla/5.0 (Windows NT 6.3; Win 64 ; x64) Apple WeKit /537.36(KHTML , like Gecko) Chrome/80.0.3987.162 Safari/537.36',"Accept": 'text/html,application/xhtml+xml,application/xml;q=0.9,image/avif,image/webp,image/apng,*/*;q=0.8,application/signed-exchange;v=b3;q=0.7', 'sec-ch-ua': 'Chromium";v="130", "Google Chrome";v="130", "Not?A_Brand";v="99', 'sec-ch-ua-mobile':'?0', 'sec-ch-ua-platform': 'Windows', 'sec-fetch-dest': 'document', 'sec-fetch-mode': 'navigate', 'sec-fetch-site': 'same-origin', 'sec-fetch-user': '?1', 'upgrade-insecure-requests': '1'}
    webpage=requests.get(f'https://www.ambitionbox.com/list-of-companies?page={j}', headers=headers).text

    soup=BeautifulSoup(webpage, 'html.parser')

    company=soup.find_all('div', class_='companyCardWrapper')

    name=[]
    rating=[]
    reviews=[]
    ctypes_location=[]
    salaries=[]
    interviews=[]
    jobs=[]
    benefits=[]



    for i in company:
        name.append(i.find('h2').text.strip())

        rating.append(i.find('div', class_='rating_text').text.strip())

        ctypes_location.append(i.find('span', class_='companyCardWrapper__interLinking').text.strip())

        reviews.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[0].text.strip())

        salaries.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[1].text.strip())

        interviews.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[2].text.strip())

        jobs.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[3].text.strip())

        benefits.append(i.find_all('span', class_='companyCardWrapper__ActionCount')[4].text.strip())

    data={'Name':name, 'Rating':rating, 'Reviews':reviews, 'Type':ctypes_location, 'Salaries':salaries, 'Interviews':interviews, 'Jobs':jobs, 'Benefits':benefits}
    df=pd.DataFrame(data)
    dframe=pd.concat([dframe, df], axis=0)

In [65]:
dframe

,Name,Rating,Reviews,Type,Salaries,Interviews,Jobs,Benefits
0,TCS,3.7,91.3k,IT Services & Consulting | Bangalore / Bengalu...,8.8L,10.5k,136,11.9k
1,Accenture,3.8,57.5k,IT Services & Consulting | Bangalore / Bengalu...,5.9L,8.2k,17.5k,7.3k
2,Wipro,3.7,53.9k,IT Services & Consulting | Bangalore / Bengalu...,4.5L,5.6k,2.5k,5.3k
3,Cognizant,3.7,51.1k,IT Services & Consulting | Chennai +197 other ...,5.7L,5.6k,323,6.1k
4,Capgemini,3.7,42.5k,IT Services & Consulting | Bangalore / Bengalu...,4.3L,4.8k,2k,4.2k
...,...,...,...,...,...,...,...,...
15,Bank of America,4.2,3.1k,Banking | Gurgaon / Gurugram +31 other locations,25.3k,237,88,448
16,Abbott,4.1,3.1k,Pharma | Mumbai +189 other locations,11k,149,296,394
17,Sodexo,4.1,3.1k,Facility Management Services | Mumbai +145 oth...,9.7k,162,99,391
18,Jindal Steel and Power,3.9,3.1k,Iron & Steel | Angul +146 other locations,14.2k,315,15,349
19,Hindalco Industries,4.2,3k,Metals & Mining | Sambalpur +108 other locations,10.7k,217,46,359

In [66]:
dframe.shape

(200, 8)

In [67]:
dframe.to_csv('Ambitionbox.csv', index=False)